<main id="main">
  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Educational History.</h2>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">School Of Holy Angel University.</h3>
          <div class="resume-item pb-0">
            <h4>
              <hr />
              Aug 03, 2020 - 2023
              <hr />
            </h4>
            <p>
              <em
                >Bachelor of Science in Information Technology with area of
                specialization of Website Developer</em
              >
            </p>
            <p></p>
            <ul>
              <li>Holy Angel St, Angeles, 2009 Pampanga</li>
              <li>Holy Angel Univesity.com</li>
              <li>(113) 436-73295</li>
            </ul>
          </div>

          <h3 class="resume-title">Holy Family Academy.</h3>
          <div class="resume-item">
            <h4>
              <hr />
              2019 - 2020
              <hr />
            </h4>
            <h5>Senior High</h5>
            <ul>
              <li>4HHG+7CP, Fil-Am Friendship Hwy, Angeles, 2009 Pampanga</li>
              <li>Holy Family Academy.com</li>
              <li>(113) 436-73295</li>
            </ul>
          </div>
          <div class="resume-item">
            <h3>Holy Family Academy.</h3>
            <h4><hr>2018 - 2019<hr></h4>
            <p><em>Junior High</em></p>
            <li>4HHG+7CP, Fil-Am Friendship Hwy, Angeles, 2009 Pampanga</li>
              <li>Holy Family Academy.com</li>
              <li>(113) 436-73295</li>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Accomplishments</h3>
          <div class="resume-item">
            <h4>DEAN LISTER</h4>
            <h5>FIRST SEMESTER 2022</h5>
            <h5>AT HOLY ANGEL UNIVERSITY</h5> <!--<em> USE-->
            <p></p>
            <ul>
              <li>
               ///
              </li>
              <li>
                ///
              </li>
              <li>
                ///
              </li>
              <li>
               ///
              </li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>///</h4>
            <h5>///</h5>
            <p><em>///</em></p>
            <p></p>
            <ul>
              <li>
               ///
              </li>
              <li>
               //
              </li>
              <li>
               ///
              </li>
              <li>
               ///
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Resume Section -->
</main>
